<ion-view view-title="Meilleurs Scores">
	<ion-header-bar class="bar-energized">
		<h1 class="title">Pull to Refresh!</h1>
	</ion-header-bar>
	<ion-content ng-controller="LeaderboardCtrl">
		<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
		</ion-refresher>
		<ion-list>
			<ion-item ng-repeat="player in players | orderBy:'-score'"><a class="item item-thumbnail-left" href="#">
				<img src="{{player.avatar}}">
				<h2>{{player.score}}</h2>
				<p>{{player.name}}</p>
			</a></ion-item>
		</ion-list>     
	</ion-content>
</ion-view>
