<ion-view view-title="Trophées" >
	<ion-content class="padding">
		<!--button class="button button-full button-energized" ng-controller='TrophiesCtrl' ng-click="openModal()">Register now</button-->
		<!--button class="button" ng-click="toWelcome()">Welcome</button-->    
		<div class="list card bar-balanced">
			<div class="item item-divider ">Votre score : 4500 points</div>
			<div class="item item-body">
				<div>
				Bravo! Vous êtes dans la course déjà 4500 points!!! <br/>
				Votre prochain objectif gagner des points avec notre solution de POS!<br/>
				Cette étape en vaut la peine entre 1500 et 5000 points à gagner. Encore un effort, vous pouvez faire la différence! </b>
				</div>
			</div>
		</div>
		<div class="list card bar-calm">
			<div class="item item-divider">1000 points</div>
			<div class="item item-body">
				<div>
				App téléchargée!</b>
				</div>
			</div>
		</div>
    <div class="list card">
      <div class="item item-divider">2500 points</div>
      <div class="item item-body">
        <div>
          Suivi de la conférence "Big Data"
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">1000 points</div>
      <div class="item item-body">
        <div>
		Visite de notre stand (B12)
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
