<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Connectez-vous">
<ion-content>
  <div class="list">
	<label class="item item-input">
	  <span class="input-label">Nom d'utilisateur</span>
	  <input type="text" ng-model="user.username">
	</label>
	<label class="item item-input">
	  <span class="input-label">Mot de passe</span>
	  <input type="password" ng-model="user.password">
	</label>
  </div>
  <div class="padding">
	<button class="button button-block button-positive" ng-click="authUser(user)">
	  Sign-In
	</button>
	<p class="text-center">
	  <a href="#/forgot-password">Mot de passe oublié ?</a>
	</p>
  </div>
</ion-content>
</ion-view>
